@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    position: relative;
    min-height: 100%;
}

main {
    position: relative;
    z-index: 1;
    background-color: white;
    margin-bottom: 40px;
    padding: 0 8px;
}
header {
    background-color: theme(colors.green);
    background-image: url('/images/taps.png');
    background-position: center;
    background-size: cover;
}
nav {
    border-top: 0.3rem solid white;
    position: relative;
    z-index: 1;
    background-color: theme(colors.green);
    overflow: hidden;
}
nav a {
    display: inline-block;
    margin: 4px 2px;
    padding: 4px 8px;
    border-radius: 4px;
    color: white;
    font-family: theme(fontFamily.kellyslab);
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.2rem;
}
nav a:hover, nav a:active {
    color: theme(colors.navhover);
}
article {
    background-color: #f4e7c2;
    border-radius: 8px;
    padding: 8px;
}
aside p, article p {
    white-space: pre-line;
}
#infobox {
    background-color: white;
    border-radius: 8px;
    padding: 8px;
    margin-bottom: 8px;
}
#menubox {
    background-color: white;
    border-radius: 8px;
    padding: 8px;
    margin: 4px 0;
}
#orderbtn {
    background-color: red;
}
.aactive {
    color: theme(colors.navhover);
}

.logo {
    padding: 8px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
.bg-circle {
    height: 14.2rem;
    width: 18rem;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -45%); 
    z-index: 0;
}
@media (min-width: 768px) {
    .bg-circle {
        height: 17.7rem;
        width: 22rem;
    }
}
@media (min-width: 1024px) {
    .bg-circle {
        height: 21.3rem;
        width: 27rem;
    }
}
footer {
    position: fixed;
    bottom: 0;
    display: block;
    width: 100%;
}