@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    position: relative;
    min-height: 100%;
}
main {
    position: relative;
    z-index: 1;
    background-color: white;
    margin-bottom: 40px;
    padding: 0 8px;
}
header {
    background-color: theme(colors.moellegreen);
    background-image: url('../images/taps.png');
    background-position: center;
    background-size: cover;
}
nav {
    border-top: 0.3rem solid white;
    position: relative;
    z-index: 1;
    background-color: theme(colors.moellegreen);
    overflow: hidden;
}
nav a {
    display: inline-block;
    margin: 4px 2px;
    padding: 4px 8px;
    border-radius: 4px;
    color: white;
    font-family: theme(fontFamily.kellyslab);
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.2rem;
}
nav a:hover, nav a:active {
    color: theme(colors.navhover);
}
article {
    background-color: #f4e7c2;
    border-radius: 8px;
    padding: 8px;
}
aside p, article p {
    white-space: pre-line;
}
b {
    font-family: theme(fontFamily.kellyslab);
}
#maincontainer {
    display: flex;
    width:fit-content;
}
#eventscontainer > div {
    flex-basis: 30%;
    border: #eee solid 1px;
    transition: ease 0.15s;
    background-color: white;
}
#eventscontainer > div:hover {
    border: theme(colors.navhover) solid 1px;
    scale: 1.05;
}
#eventscontainer {
    display: flex;
    gap: 4%;
    font-size: 0.9rem;
}
.aactive {
    color: theme(colors.navhover);
}
.logo {
    padding: 8px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
.bg-circle {
    height: 14.2rem;
    width: 18rem;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -45%); 
    z-index: 0;
}
@media (min-width: 768px) {
    .bg-circle {
        height: 17.7rem;
        width: 22rem;
    }
}
@media (min-width: 1024px) {
    .bg-circle {
        height: 21.3rem;
        width: 27rem;
    }
}
footer {
    position: relative;
    bottom: 0;
    display: block;
    width: 100%;
}
.rightpics, .leftpics {
    display: none;
}
@media (min-width: 1400px) {
    main {
        display: inline-block;
    }
    .rightpics, .leftpics {
        display: inline-block;
        position: relative;
        width: 30vw;
        padding-top: 70px;
    }
    .rightpics {
        padding: 0 10px 0 40px
    }
    .leftpics {
        padding: 0 40px 0 10px;
    }
}
@media (min-width: 1700px) {
    #maincontainer {
        max-width: 1900px;
    }
    .rightpics, .leftpics {
        padding: 0 40px;
        padding-top: 70px;
    }
}
.center {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.box {
    margin-bottom: 8px;
    border-radius: 8px;
    border-width: 1px;
    overflow: hidden;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  }
  .box-heading {
    height: 40px;
  }
  .box-title {
    padding: 8px;
    font-weight: 600;
    font-size: 18px;
  }
  .box-body {
    padding: 12px;
    background-color: white;
    border-radius: inherit;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  
  .box-body th {
    text-align: left;
    padding-bottom: 15px;
  }
  
  .box-body td {
    text-align: right;
    padding-right: 8px;
    padding-bottom: 15px;
  }